# Dependencies
node_modules

# Compiled output
**/build
**/storybook-static

# Test output
**/coverage
test/screenshots
test/videos

# Environment config
.env*
!.env.example

# Logs
*.log*

# Misc
.DS_Store
.eslintcache
.stylelintcache
